modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "artifacts/api-server: API Server"

[[workflows.workflow]]
name = "artifacts/mobile: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run dev"
cwd = "./artifacts/mobile"
waitForPort = 18115
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "18115"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"
author = 59918954

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18115
externalPort = 80

[[ports]]
localPort = 18116
externalPort = 3001

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_qcQGimcSliuPMLsUowIUaXVkXWH"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_AkFfviISpWttxOuYlHLhuSkKaTl"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_lLalAJHTQxacdOHxOdXiJoeHWJo"
REVENUECAT_PROJECT_ID = "proj4b4ff689"
REVENUECAT_TEST_STORE_APP_ID = "app8576dab305"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appde341465fd"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app03aa2a6a79"

[nix]
channel = "stable-25_05"
